.delete-warning {
    position: relative;

    &__container {
        background-color: rgba($color-black, .5);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
    
    &__popup {
        background-color: rgba($color-white, .9);
        width: 40vw;
        padding: 3rem;
        color: $color-grey-dark-3;
        margin: 0 auto;
        margin-top: 10rem;
        border-radius: 2.5rem;   
        text-align: center; 
    }
    
    &__header {
        text-transform: uppercase;
        font-size: 1.6rem;
        margin: 1rem 0;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
    }

    &__button {
        margin: 1rem 5rem;
        margin-bottom: 0;
        border-style: none;
        border-radius: 3rem;
        border: .1rem solid $color-grey-light-3;
        padding: 1rem;
        color: $color-grey-dark-3;
        font-size: 1.4rem;
        text-transform: uppercase;
        transition: all .2s;
        box-shadow: .2rem .2rem 1rem rgba($color-black, .2);

        &:hover {
            color: $color-primary;
            border: .1rem solid $color-primary;
            box-shadow: .3rem .3rem 2rem rgba($color-black, .2);
            transform: translateY(-.2rem);
        }

        &:active {
            color: $color-grey-light-1;
            box-shadow: .2rem .2rem 1rem rgba($color-black, .2);
            transform: translateY(0);
        }
    }
}