.navbar-menu {
    font-size: 3rem;
    position: relative;
    display: none;
    
    &__container {
        background-image: linear-gradient(to right, rgba($color-secondary, .5), rgba($color-primary-light, .5));
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        text-align: center;
        justify-content: center;
    }

    &__link,
    &__link:visited {
        text-decoration: none;
        color: $color-grey-dark-3;
        transition: .3s all;
    }

    &__link:hover {
        color: $color-white;
    }
}