$color-primary: rgb(70, 211, 192);
$color-primary-light: rgb(146, 255, 240);
$color-primary-dark: rgb(28, 153, 136);

$color-secondary: rgb(19, 212, 154);

$color-grey-light-1: rgb(219, 219, 219);
$color-grey-light-2: rgb(207, 207, 207);
$color-grey-light-3: rgb(202, 202, 202);

$color-grey-dark-1: rgb(160, 160, 160);
$color-grey-dark-2: rgb(138, 138, 138);
$color-grey-dark-3: rgb(105, 105, 105);

$color-white: #FFF;
$color-black: #000;


$button-shadow-normal: .2rem .2rem 2.5rem rgba($color-black, .3);
$button-shadow-clicked: .1rem .1rem 1rem rgba($color-black, .3);